<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wj_constractor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WJ_CONTRACTOR.noActionBar">
        <activity
            android:name=".Calculate_SalaryMainActivity"
            android:exported="true" />
        <activity
            android:name=".Mark_AttendanceMainActivity"
            android:exported="true" />
        <activity
            android:name=".View_workerMainActivity"
            android:exported="true" />
        <activity
            android:name=".Reg_AdminMainActivity"
            android:exported="true" />
        <activity
            android:name=".View_supervisorMainActivity"
            android:exported="true" />
        <activity
            android:name=".Add_New_SiteMain_Activity"
            android:exported="true" />
        <activity
            android:name=".Reg_Update_delete_Masonary_workersMainActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Register_Update_delete_Supervisor"
            android:exported="true" />
        <activity
            android:name=".MainActivity_forS_Fragment"
            android:exported="true" />
        <activity
            android:name=".MainActivity_for_Fragment"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>